<a href="https://colab.research.google.com/github/jepz94/JPINTOZ/blob/main/notebook_TF_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# LIBRERIAS BASE

from google.colab import files
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
def calculate_vif_(X):
    variables = list(range(X.shape[1]))
    vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]
    print(X.columns[variables])
    return vif

In [8]:
#DATA LOADING & PREVIEW

url = 'https://raw.githubusercontent.com/jepz94/JPINTOZ/main/data_TF_2.csv'
df = pd.read_csv(url,sep=',')
df.head()

        RUC_ID Tipo_empresa  ...  Tamaño_Fact Cliente
0  20100257298      PRIVADA  ...            3       1
1  20100144922      PRIVADA  ...            3       0
2  20515657119      PRIVADA  ...            1       0
3  20429683581      PRIVADA  ...            3       0
4  20268477960      PRIVADA  ...            1       0

[5 rows x 9 columns]

In [10]:
#DATA PREPARATION (VERY IMPORTANT TO DIFFERENTIATE "X" AND "DF")

X = df.drop(columns='RUC_ID')  # PRIMERO ELIMINAR VARIABLES QUE NO VAN A IR EN EL ALGORITMO
X = pd.get_dummies(X)  # ACA SE CREAN DUMMIES (EN CASO HAYA ALGUNA VARIABLE CATEGORICA, SI NO HAY NO CREARA NADA)
X.head()

   Grupo_Empresarial  ...  Sector_Transportation & Logistics
0                  1  ...                                  0
1                  1  ...                                  0
2                  1  ...                                  0
3                  1  ...                                  0
4                  1  ...                                  0

[5 rows x 33 columns]

In [11]:
X = X.drop(columns=['Tipo_empresa_CONSORCIO','Sector_Power & Utilities'])   # EN CASO ESTEMOS CREANDO DUMMIES PARA CATEGORICAS SIEMPRE ELIMINAR 1 DE LAS N OPCIONES QUE SE CREAN (SOLO QUEDARIAN N-1 FLAGS POR CADA CATEGORICA)
X.head()

   Grupo_Empresarial  ...  Sector_Transportation & Logistics
0                  1  ...                                  0
1                  1  ...                                  0
2                  1  ...                                  0
3                  1  ...                                  0
4                  1  ...                                  0

[5 rows x 31 columns]

In [12]:
# ALGORITHM FIT

dep = 'Cliente'  # ACA SOLO MODIFICAR LA VARIABLE DEPENDIENTE "dep", DEJAR TODO LO DEMAS IGUAL

mod = sm.Logit(X[dep], sm.add_constant(X.drop(columns=[dep])))
res = mod.fit()
print(res.summary())
print('')
print('VIF RESULTS')
print('')
calculate_vif_(X.drop(columns=[dep]))

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.499922
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                Cliente   No. Observations:                 1753
Model:                          Logit   Df Residuals:                     1723
Method:                           MLE   Df Model:                           29
Date:                Fri, 12 Nov 2021   Pseudo R-squ.:                 0.09741
Time:                        03:45:50   Log-Likelihood:                -876.36
converged:                      False   LL-Null:                       -970.95
Covariance Type:            nonrobust   LLR p-value:                 1.990e-25
===================================================================================================================
                                                      coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------------
Grupo_Empresarial                                  -2.5886      0.745     -3.475      0.001      -4.048      -1.129
N_locales                                           0.0076      0.003      2.302      0.021       0.001       0.014
N_trabajadores                                   3.371e-05   4.73e-05      0.712      0.476   -5.91e-05       0.000
Crecimiento_Anual                                  -0.0031      0.001     -2.285      0.022      -0.006      -0.000
Tamaño_Fact                                         0.5895      0.088      6.665      0.000       0.416       0.763
Tipo_empresa_PRIVADA                                0.6648      0.662      1.004      0.316      -0.633       1.963
Tipo_empresa_PUBLICA                               -0.5856      0.883     -0.663      0.507      -2.317       1.146
Sector_Asset & Wealth Management                   -0.2164      0.500     -0.432      0.665      -1.197       0.764
Sector_Automotive                                  -1.2666      0.460     -2.751      0.006      -2.169      -0.364
Sector_Banking & Capital Markets                    0.8238      0.451      1.827      0.068      -0.060       1.708
Sector_Business Services                           -0.3484      0.406     -0.858      0.391      -1.144       0.447
Sector_Central, National, Federal Government        1.1013      1.319      0.835      0.404      -1.485       3.687
Sector_Chemicals                                   -0.5576      0.492     -1.134      0.257      -1.521       0.406
Sector_Consumer                                    -0.9399      0.375     -2.508      0.012      -1.674      -0.205
Sector_Education - National                        -0.3988      0.623     -0.641      0.522      -1.619       0.821
Sector_Energy                                      -1.1111      0.474     -2.346      0.019      -2.039      -0.183
Sector_Engineering & Construction                  -0.6109      0.376     -1.623      0.105      -1.348       0.127
Sector_Forest, Paper & Packaging                   -0.5500      0.765     -0.719      0.472      -2.050       0.950
Sector_Health Services                             -1.3848      0.586     -2.363      0.018      -2.533      -0.236
Sector_Hospitality & Leisure                        0.1005      0.471      0.214      0.831      -0.822       1.023
Sector_Insurance                                    1.6207      0.682      2.376      0.018       0.284       2.958
Sector_Manufacturing                               -0.9144      0.483     -1.895      0.058      -1.860       0.032
Sector_Media & Entertainment                       -0.2584      0.533     -0.485      0.628      -1.302       0.786
Sector_Metals and Mining                           -0.4144      0.406     -1.021      0.307      -1.210       0.381
Sector_Pharma & Life Sciences                       0.2935      0.495      0.593      0.553      -0.677       1.264
Sector_Regional, State, Local & City Government   -14.3141   2512.290     -0.006      0.995   -4938.313    4909.685
Sector_Retail                                      -0.7342      0.360     -2.037      0.042      -1.441      -0.028
Sector_Technology                                   0.2217      0.528      0.420      0.674      -0.813       1.256
Sector_Telecommunications                           0.2724      0.539      0.505      0.613      -0.784       1.328
Sector_Transportation & Logistics                  -0.6116      0.391     -1.565      0.118      -1.377       0.154
===================================================================================================================

VIF RESULTS

/usr/local/lib/python3.7/dist-packages/statsmodels/base/model.py:512: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

Index(['Grupo_Empresarial', 'N_locales', 'N_trabajadores', 'Crecimiento_Anual',
       'Tamaño_Fact', 'Tipo_empresa_PRIVADA', 'Tipo_empresa_PUBLICA',
       'Sector_Asset & Wealth Management', 'Sector_Automotive',
       'Sector_Banking & Capital Markets', 'Sector_Business Services',
       'Sector_Central, National, Federal Government', 'Sector_Chemicals',
       'Sector_Consumer', 'Sector_Education - National', 'Sector_Energy',
       'Sector_Engineering & Construction', 'Sector_Forest, Paper & Packaging',
       'Sector_Health Services', 'Sector_Hospitality & Leisure',
       'Sector_Insurance', 'Sector_Manufacturing',
       'Sector_Media & Entertainment', 'Sector_Metals and Mining',
       'Sector_Pharma & Life Sciences ',
       'Sector_Regional, State, Local & City Government', 'Sector_Retail',
       'Sector_Technology', 'Sector_Telecommunications',
       'Sector_Transportation & Logistics'],
      dtype='object')

[127.6267429591481,
 1.3881594578357992,
 1.4438226907567127,
 1.071014858419618,
 1.3940111045769865,
 2.241701372976547,
 2.516879273370221,
 1.7873808269591254,
 2.5478458022321675,
 1.9836077242253882,
 3.2595777897346743,
 1.2197529024835616,
 1.8370428484941086,
 5.326717025914653,
 1.427154735090892,
 2.1808791720539578,
 4.574368796460682,
 1.2449702516627292,
 1.808419484675429,
 1.8915271598760726,
 1.3472194156059476,
 2.194616204556122,
 1.6558081659648547,
 2.735364422568657,
 1.701225459555431,
 1.0229935293952606,
 6.386747468472135,
 1.574366858493438,
 1.5073142795443881,
 3.7010368830411307]